*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 18px;
}

html {
	height: 100%;
	background: #000; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	/* color: #444444; */
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover {
	color: #FF81B3 !important;
	outline: none;
}

ul {
	margin: 2rem auto 0;
}

header {
	width: 100%;
	position: absolute;
}

nav {
	max-width: 640px;
}

h1 {
	font-size: 3rem;
	margin: 0;
	padding: 1rem 0;
}

.content {
	height: 100vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	position: relative;
	max-width: 1080px;
}

.content > * {
	width: 100%;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.homepage-logo {
	max-width: 332px;
	margin-bottom: 1rem;
}

.about-logo {
	max-width: 180px;
	margin-bottom: 1rem;
}

.block {
	width: 100%;
}

.items {
	display: flex;
	color: white;
	justify-content: center;
	align-items: center;
	column-gap: 8px;
}

a, a:visited {
	color: #FFF;
	text-decoration: none;
}

.listNone {
	list-style: none;
	margin: 0;
	padding: 0;
}

.links li {
	padding-bottom: 0.6125rem;
	font-size: 0.8375rem;
}

.footer-list {
	bottom: 1rem;
	left: 0;
}

.footer-list ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footer-list .footer-item {
	margin: 0 1em;
}

.footer-list .footer-item .link {
	text-decoration: none;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.02rem;
}

.arrow-wrapper {
	position: sticky;
	bottom: 2rem;
	display: flex;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
	cursor: pointer;
  
  border-top: 20px solid #fff;
}

.white-text {
	color: #fff;
}

.flex {
	display: flex;
}

.break-word {
	word-wrap: break-word;
	hyphens: auto;
	display: block;
}

.w450 {
	max-width: 385px;
	font-size: 0.93rem;
}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 360px) {

}